<!DOCTYPE html>
<html>
<title>Smart Car Project</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="stylesheets/switch.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<link rel="stylesheet" href="stylesheets/switch.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

<body onload="setupTimers()">

<nav class="w3-sidebar w3-black w3-animate-top w3-xxlarge" style="display:none;padding-top:150px" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-black w3-xxlarge w3-padding w3-display-topright" style="padding:6px 24px">
    <i class="fa fa-remove"></i>
  </a>
  <div class="w3-bar-block w3-center">
    <p>{{applicationUser}}</p>
    <a href="#" class="w3-bar-item w3-button w3-text-grey w3-hover-black" onclick="data()">Dane z pojazdu</a>
    <a href="#" class="w3-bar-item w3-button w3-text-grey w3-hover-black" onclick="plot()">Wykresy</a>
    <a href="#" class="w3-bar-item w3-button w3-text-grey w3-hover-black" onclick="colision()">Historia Kolizji</a>
    <a href="#" class="w3-bar-item w3-button w3-text-grey w3-hover-black" onclick="info()">Dokumentacja</a>
    <a href="/logout" class="w3-bar-item w3-button w3-text-grey w3-hover-black">Wyloguj</a>
  </div>
</nav>

<div class="w3-content" style="max-width:1500px">

<div class="w3-opacity">
<span class="w3-button w3-xxlarge w3-white w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></span>

<header class="w3-center w3-margin-bottom">

    <div class="w3-container">
        <div class="w3-display-container w3-margin">
            <img src="images/car.png" width="256" height="256" class="w3-image w3-hover-sepia">
            <div class="w3-display-topmiddle w3-container w3-margin-top"><h1><b>Smart Car</b></h1></div>
        </div>
    </div>

    <div id="data">

        <h1><b>Odległość od przeszkody w wybranym trybie jazdy: </b></h1>
        <div class="w3-light-grey w3-margin w3-border w3-round-xlarge">
            <div id="myBar" class="w3-container w3-purple w3-border w3-round-xlarge" style="height:24px;width:50%"></div>
        </div>
        <!--<button class="w3-button w3-light-grey" onclick="setBar(Math.random()*100)">Click Me</button>
        <button class="w3-button w3-light-grey" onclick="collision()">Collision Test</button>-->
        <div class="w3-row-padding">
            <div class="w3-half">
                <div class="w3-card-4">
                    <p><b>Obecny tryb jazdy:</b></p>
                    <!--<p id="mode"><b>Unknown</b></p>-->
                    <div class="w3-display-container w3-padding-24">
                        <label class="switch switch-left-right w3-display-middle">
                            <input class="switch-input" type="checkbox" id="mode" checked disabled/>
                            <span class="switch-label" data-on="Naprzód" data-off="Wstecz"></span>
                            <span class="switch-handle"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="w3-half">
                <div class="w3-card-4">
                    <p><b>Prędkość:</b></p>
                    <div class="w3-display-container w3-padding-16">
                        <p id="velocity"><b></b></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="w3-row-padding">
            <div class="w3-half">
                <div class="w3-card-4">
                    <p><b>Dokładna odległość od obiektu z przodu:</b></p>
                    <div class="w3-display-container w3-padding-24">
                        <p id="distance-front"><b></b></p>
                    </div>
                </div>
            </div>
            <div class="w3-half">
                <div class="w3-card-4">
                    <p><b>Dokładna odległość od obiektu z tyłu:</b></p>
                    <div class="w3-display-container w3-padding-24">
                        <p id="distance-back"><b></b></p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="plot" style="display: none">
      <div class="container">
        <div class = "title">
          <h1>Wykresy</h1>
          <h3>Odległość przeszkody od przodu i tyłu samochodu</h3>
        </div>
        <div class="controls">
          <button onclick="randomizeData()">Randomize Data!</button>
          <button onclick="addDataFront()">Add Data Front!</button>
          <button onclick="addDataBack()">Add Data Back!</button>
          <button onclick="colisionEvent()">Kolizja!</button>
        </div>
        <div class="wrap">
          <div class="left" style="position: relative">
            <canvas id="frontChart"  height="200"></canvas>
          </div>
          <div class="right" style="position: relative">
            <canvas id="backChart" height="200"></canvas>
          </div>
        </div>
      </div>
      <script>
      let front = [];
      let back = [];
      let labels1 = []
      let labels2 = []
      time1 = {
            labels: labels1,
            datasets: [
              {
                label: "Przód",
                fill: true,
                borderColor: 'blue',
                data: front,
              }]
        };
        time2 = {
              labels: labels2,
              datasets: [
                  {
                  label: "Tył",
                  fill: true,
                  borderColor: 'red',
                  data: back,
              }]
          };

        Chart.defaults.global.defaultFontFamily = "monospace";
        var ctx = document.getElementById('frontChart').getContext('2d');
        var frontChart = new Chart(ctx, {
          type: 'line',
          data: time1,
          options: {
          legend: {
            display: true
          },
          scales: {
            xAxes: [
              {
              ticks: {
                    autoSkip: true,
                    maxRotation: 90,
                    minRotation: 90
                }
              }
            ]
          }
        }

        });
        var ctx1 = document.getElementById('backChart').getContext('2d');
        var backChart = new Chart(ctx1, {
          type: 'line',
          data: time2,
          options: {
          legend: {
            display: true
          },
          scales: {
            xAxes: [
              {
              ticks: {
                    autoSkip: true,
                    maxRotation: 90,
                    minRotation: 90
                }
              }
            ]
          }
        }
        });


        function generateChart(x1, y1, x2, y2) {
          const time1 = {
            labels: x1,
            datasets: [
              {
                label: "Przód",
                fill: true,
                borderColor: 'blue',
                data: y1,
              }
            ]
          }
          const time2 = {
            labels: x2,
            datasets: [
              {
                label: "Tył",
                fill: true,
                borderColor: 'red',
                data: y2,
              }
            ]
          }
          // const l1 = Math.random().toFixed(2)
          // const r1 = Math.random().toFixed(2)
          const l1 = "leftCol"
          const r1 = "rightCol"
          createTemplate(l1, r1)
          const ctx = document.getElementById(l1).getContext('2d');
          new Chart(ctx, {
            type: 'line',
            data: time1,
            options: {
            legend: {
              display: true
            },
            scales: {
              xAxes: [
                {
                ticks: {
                      autoSkip: true,
                      maxRotation: 90,
                      minRotation: 90
                    }
                  }
                ]
              }
            }
          });
          const ctx1 = document.getElementById(r1).getContext('2d');
          new Chart(ctx1, {
            type: 'line',
            data: time2,
            options: {
            legend: {
              display: true
            },
            scales: {
              xAxes: [
                {
                ticks: {
                      autoSkip: true,
                      maxRotation: 90,
                      minRotation: 90
                    }
                  }
                ]
              }
            }
          });
        }
        function createTemplate(leftCanId, rightCanId) {
          const leftC = document.createElement('canvas')
          leftC.setAttribute('id', leftCanId)
          leftC.setAttribute('height', 200)
          const rightC = document.createElement('canvas')
          rightC.setAttribute('id', rightCanId)
          rightC.setAttribute('height', 200)
          const leftD = document.createElement('div')
          leftD.classList.add('left')
          leftD.style.position = 'relative'
          const rightD = document.createElement('div')
          rightD.classList.add('right')
          rightD.style.position = 'relative'
          const wrapper = document.createElement('div')
          wrapper.classList.add('wrap')
          leftD.appendChild(leftC)
          rightD.appendChild(rightC)
          wrapper.appendChild(leftD)
          wrapper.appendChild(rightD)
          const collisionContainer = document.getElementById('colision-container')
          collisionContainer.appendChild(wrapper)
        }
      </script>
    </div>

    <div id="colision" style="display: none">
      <div id="colision-container" class="container">
        <div class = "title">
          <h1>Wykresy ostatniej kolizji</h1>
        </div>

      </div>
    </div>

    <div id="info" style="display: none">
    </div>
    
    <div id="timeout" class="w3-modal">
    <div class="w3-modal-content">
      <div class="w3-container w3-padding-16">
        <span id="timeout_close" onclick="ResetTimeOutTimer()" class="w3-button w3-display-topright">&times;</span>
        <p>Za chwilę nastąpi automatyczne wylogowanie. Jeśli chcesz pozostać na stronie kliknij przycisk</p>
        <button id="stay" onclick="ResetTimeOutTimer()" class="w3-center w3-button w3-purple w3-round-xlarge" name="button">Zostań</button>
      </div>
    </div>
  </div>
    
    
</header>
</div>
</div>
<footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-opacity w3-xlarge" style="margin-top:128px">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <img src="images/agh.png" class="fa w3-hover-opacity w3-grayscale-max">
    <i class="fa fa-twitter w3-hover-opacity"></i>
</footer>

<script>
    
window.onbeforeunload = function(){
    window.location.href="/logout";
}

var timeoutWarning = 600000; //10 minutes to display warning
var timeoutNow = 60000; // Warning has been shown, give the user 1 minute to interact

var warningTimer;
var timeoutTimer;

function LogoutTimeout() {
    warningTimer = setTimeout("IdleWarning()", timeoutWarning);
}
    
function UpdateTimer() {
    if($("#timeout").css('display') == "none"){
        clearTimeout(warningTimer);
        LogoutTimeout();
    }
}
    
function setupTimers () {
    document.addEventListener("mousemove", UpdateTimer, false);
    document.addEventListener("mousedown", UpdateTimer, false);
    document.addEventListener("keypress", UpdateTimer, false);
    document.addEventListener("touchmove", UpdateTimer, false);
    document.addEventListener("onscroll", UpdateTimer, false);
    LogoutTimeout();
}

function ResetTimeOutTimer() {
    clearTimeout(timeoutTimer);
    LogoutTimeout();
    document.getElementById('timeout').style.display='none';
}

function IdleWarning() {
    clearTimeout(warningTimer);
    document.getElementById('timeout').style.display='block';
    timeoutTimer = setTimeout("IdleTimeout()", timeoutNow);
}

function IdleTimeout() {
    window.location = "/logout";
}

var socket = io.connect('{{socketProtocol}}://{{socketAddress}}/{{socketName}}', {secure: true, rejectUnauthorized : false});
socket.on('connect', function() {
    socket.emit('my event', {data: 'I\'m connected!'});
});

socket.on('Update distance front', function(distance) {
    $("#distance-front").html(distance+" [m]");
    time = new Date().toLocaleString()
    distance = distance
    addDataFrontSocket(time, distance)
    if($("#mode").prop('checked'))
        setBar(distance.value);
});

socket.on('Update distance back', function(distance) {
    $("#distance-back").html(distance+" [m]");
    time = new Date().toLocaleString()
    distance = distance
    addDataBackSocket(time, distance)
    if(!$("#mode").prop('checked'))
        setBar(distance.value);
});


socket.on('Update velocity', function(velocity) {
    $("#velocity").html(velocity+" [m/s]");
});

socket.on('Update mode', function(mode) {
    if(mode.value == true)
        $("#mode").prop('checked', true);
    else
        $("#mode").prop('checked', false);
});


socket.on('Collision-front', function() {
    collision("front");
});

socket.on('Collision-back', function() {
    collision("back");
});

$("#velocity").html(Math.round(Math.random()*100)+" [m/s]");
$("#distance-front").html(Math.round(Math.random()*100)+" [m]");
$("#distance-back").html(Math.round(Math.random()*100)+" [m]");

function collision(direction){
    $("#distance-"+direction).html('<div class="sign"><span class="fast-flicker">K</span>oli<span class="flicker">z</span>ja</div><div style="padding-bottom: 22px"></div>');
}

function randomizeData() {
  let newfront = front.map(x => Math.floor(Math.random() * 50));
  let newback = back.map(x => Math.floor(Math.random() * 40));
  time1.datasets[0].data = newfront
  time2.datasets[0].data = newback
  frontChart.update();
  backChart.update();
  console.log(newfront);
};

function addDataFront() {
    front.push(Math.floor(Math.random() * 50));
    labels1.push(new Date().toLocaleString())
    time1.datasets[0].data = front
    if (labels1.length > 40) {
      labels1.shift();
      front.shift();
    }
    frontChart.update();
}

function addDataBack() {
    back.push(Math.floor(Math.random() * 40));
    labels2.push(new Date().toLocaleString())
    time2.datasets[0].data = back
    if (labels2.length > 40) {
      labels2.shift();
      back.shift();
    }
    backChart.update();
}

function addDataFrontSocket(time, distance) {
    front.push(distance);
    labels1.push(time)
    time1.datasets[0].data = front
    fron.update();
}

function addDataBackSocket(time, distance) {
    back.push(distance);
    labels2.push(time)
    time2.datasets[0].data = back
    backChart.update();
}

function colisionEvent(){
  generateChart(labels1, front, labels2, back)
}

function setBar(destination) {
    var maxDistance = 350; //max distance of our sensor, in cm
    destination = destination*100 //[m] to [cm]
    if(destination>=maxDistance)
        destination = 350;
    else if(destination < 9)
        destination = 9;
    destination = Math.round((1-destination/maxDistance)*100);
    var elem = document.getElementById("myBar");
    //var width = elem.getBoundingClientRect().width;
    var bar = $("#myBar");
    var width = Math.round(bar.width()/ $("#myBar").parent().width() * 100);
    if(width > 100)
        width = 100
    var id = setInterval(frame, 5);
    function frame() {
        if (Math.round(width) == Math.round(destination)) {
            clearInterval(id);
        } else if(width < destination){
            width++;
        } else {
            width--;
        }
        bar.width(width+"%")
      }
}

function w3_open() {
    document.getElementById("mySidebar").style.width = "100%";
    document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
}

function data(){
    w3_close();
    $("#data").show()
    $("#plot").hide();
    $("#colision").hide();
    $("#info").hide();
}

function plot(){
    w3_close();
    $("#data").hide()
    $("#plot").show();
    $("#colision").hide();
    $("#info").hide();
}

function colision(){
    w3_close();
    $("#data").hide()
    $("#plot").hide();
    $("#colision").show();
    $("#info").hide();
}

function info(){
    w3_close();
    $("#data").hide()
    $("#plot").hide();
    $("#colision").hide();
    $("#info").show();
}

</script>

</body>
</html>
