<!DOCTYPE html>
<html>
<title>Smart Car Project</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="stylesheets/switch.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<link rel="stylesheet" href="stylesheets/switch.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

<body onload="setupTimers()">
  <script>
    let frontC = [];
    let backC = [];
    let labels1C = []
    let labels2C = []
  </script>
<nav class="w3-sidebar w3-black w3-animate-top w3-xxlarge" style="display:none;padding-top:150px" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-black w3-xxlarge w3-padding w3-display-topright" style="padding:6px 24px">
    <i class="fa fa-remove"></i>
  </a>
  <div class="w3-bar-block w3-center">
    <p>{{applicationUser}}</p>
    <a href="#" class="w3-bar-item w3-button w3-text-grey w3-hover-black" onclick="data()">Dane z pojazdu</a>
    <a href="#" class="w3-bar-item w3-button w3-text-grey w3-hover-black" onclick="plot()">Wykresy</a>
    <a href="#" class="w3-bar-item w3-button w3-text-grey w3-hover-black" onclick="colision()">Historia Kolizji</a>

    <a href="/logout" class="w3-bar-item w3-button w3-text-grey w3-hover-black">Wyloguj</a>
  </div>
</nav>

<div class="w3-content" style="max-width:1500px">

<div class="w3-opacity">

<span class="w3-button w3-xxlarge w3-white w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></span>

<header class="w3-center w3-margin-bottom">

    <div class="w3-container">
        <div class="w3-display-container w3-margin">
            <img src="images/car.png" width="256" height="256" class="w3-image w3-hover-sepia">
            <div class="w3-display-topmiddle w3-container w3-margin-top"><h1><b>Smart Car</b></h1></div>
        </div>
    </div>

    <div id="data">

        <h1><b>Odległość od przeszkody w wybranym trybie jazdy: </b></h1>
        <div class="w3-light-grey w3-margin w3-border w3-round-xlarge">
            <div id="myBar" class="w3-container w3-purple w3-border w3-round-xlarge" style="height:24px;width:50%"></div>
        </div>
        <!--<button class="w3-button w3-light-grey" onclick="setBar(Math.random()*100)">Click Me</button>
        <button class="w3-button w3-light-grey" onclick="collision()">Collision Test</button>-->
        <div class="w3-row-padding">
            <div class="w3-half">
                <div class="w3-card-4">
                    <p><b>Obecny tryb jazdy:</b></p>
                    <!--<p id="mode"><b>Unknown</b></p>-->
                    <div class="w3-display-container w3-padding-24">
                        <label class="switch switch-left-right w3-display-middle">
                            <input class="switch-input" type="checkbox" id="mode" checked disabled/>
                            <span class="switch-label" data-on="Naprzód" data-off="Wstecz"></span>
                            <span class="switch-handle"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="w3-half">
                <div class="w3-card-4">
                    <p><b>Przyspieszenie:</b></p>
                    <div class="w3-display-container w3-padding-16">
                        <p id="velocity"><b></b></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="w3-row-padding">
            <div class="w3-half">
                <div class="w3-card-4">
                    <p><b>Dokładna odległość od obiektu z przodu:</b></p>
                    <div class="w3-display-container w3-padding-24">
                        <p id="distance-front"><b></b></p>
                    </div>
                </div>
            </div>
            <div class="w3-half">
                <div class="w3-card-4">
                    <p><b>Dokładna odległość od obiektu z tyłu:</b></p>
                    <div class="w3-display-container w3-padding-24">
                        <p id="distance-back"><b></b></p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="plot" style="display: none">
      <div class="container">
        <div class = "title">
          <h1>Wykresy</h1>
          <h3>Odległość przeszkody od przodu i tyłu samochodu</h3>
        </div>
        <div class="controls">
          <!-- <button onclick="randomizeData()">Randomize Data!</button>
          <button onclick="addDataFront()">Add Data Front!</button>
          <button onclick="addDataBack()">Add Data Back!</button>
          <button onclick="colisionEvent()">Kolizja!</button> -->
        </div>
        <div class="wrap">
          <div class="left" style="position: relative">
            <canvas id="frontChart"  height="200"></canvas>
          </div>
          <div class="right" style="position: relative">
            <canvas id="backChart" height="200"></canvas>
          </div>
        </div>
      </div>
      <script>
      let front = [];
      let back = [];
      let labels1 = []
      let labels2 = []
      time1 = {
            labels: labels1,
            datasets: [
              {
                label: "Przód",
                fill: true,
                borderColor: 'blue',
                data: front,
              }]
        };
        time2 = {
              labels: labels2,
              datasets: [
                  {
                  label: "Tył",
                  fill: true,
                  borderColor: 'red',
                  data: back,
              }]
          };

        Chart.defaults.global.defaultFontFamily = "monospace";
        var ctx = document.getElementById('frontChart').getContext('2d');
        var frontChart = new Chart(ctx, {
          type: 'line',
          data: time1,
          options: {
          legend: {
            display: true
          },
          scales: {
            xAxes: [
              {
              scaleLabel: {
                  display: true,
                  labelString: 'Data [DD.MM.YYYY,HH:MM:SS]'
                },
              ticks: {
                    autoSkip: true,
                    maxRotation: 90,
                    minRotation: 90
                }
              }
            ],
            yAxes: [{
            scaleLabel: {
                display: true,
                labelString: 'Odległość od przeszkody [cm]'
              },
                ticks: {
                    beginAtZero: true
                }
            }]
          }
        }

        });
        var ctx1 = document.getElementById('backChart').getContext('2d');
        var backChart = new Chart(ctx1, {
          type: 'line',
          data: time2,
          options: {
          legend: {
            display: true
          },
          scales: {
            xAxes: [
              {
              scaleLabel: {
                  display: true,
                  labelString: 'Data [DD.MM.YYYY,HH:MM:SS]'
                },
              ticks: {
                    autoSkip: true,
                    maxRotation: 90,
                    minRotation: 90
                }
              }
            ],
            yAxes: [{
            scaleLabel: {
                display: true,
                labelString: 'Odległość od przeszkody [cm]'
              },
                ticks: {
                    beginAtZero: true
                }
            }]
          }
        }
        });


        function generateChart(x1, y1, x2, y2) {
          const time1 = {
            labels: x1,
            datasets: [
              {
                label: "Przód",
                fill: true,
                borderColor: 'blue',
                data: y1,
              }
            ]
          }
          const time2 = {
            labels: x2,
            datasets: [
              {
                label: "Tył",
                fill: true,
                borderColor: 'red',
                data: y2,
              }
            ]
          }
          const l1 = Math.random().toFixed(2)
          const r1 = Math.random().toFixed(2)
          // const l1 = "leftCol"
          // const r1 = "rightCol"
          createTemplate(l1, r1)
          const ctx = document.getElementById(l1).getContext('2d');
          new Chart(ctx, {
            type: 'line',
            data: time1,
            options: {
            legend: {
              display: true
            },
            scales: {
              xAxes: [
                {
                scaleLabel: {
                    display: true,
                    labelString: 'Data [DD.MM.YYYY,HH:MM:SS]'
                  },
                ticks: {
                      autoSkip: true,
                      maxRotation: 90,
                      minRotation: 90
                    }
                  }
                ],
                yAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Odległość od przeszkody [cm]'
                  },
                    ticks: {
                        beginAtZero: true
                    }
                }]
              }
            }
          });
          const ctx1 = document.getElementById(r1).getContext('2d');
          new Chart(ctx1, {
            type: 'line',
            data: time2,
            options: {
            legend: {
              display: true
            },
            scales: {
              xAxes: [
                {
                scaleLabel: {
                    display: true,
                    labelString: 'Data [DD.MM.YYYY,HH:MM:SS]'
                  },
                ticks: {
                      autoSkip: true,
                      maxRotation: 90,
                      minRotation: 90
                    }
                  }
                ],
                yAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Odległość od przeszkody [cm]'
                  },
                    ticks: {
                        beginAtZero: true
                    }
                }]
              }
            }
          });
        }
        function createTemplate(leftCanId, rightCanId) {
          const leftC = document.createElement('canvas')
          leftC.setAttribute('id', leftCanId)
          leftC.setAttribute('height', 200)
          const rightC = document.createElement('canvas')
          rightC.setAttribute('id', rightCanId)
          rightC.setAttribute('height', 200)
          const leftD = document.createElement('div')
          leftD.classList.add('left')
          leftD.style.position = 'relative'
          const rightD = document.createElement('div')
          rightD.classList.add('right')
          rightD.style.position = 'relative'
          const wrapper = document.createElement('div')
          wrapper.classList.add('wrap')
          leftD.appendChild(leftC)
          rightD.appendChild(rightC)
          wrapper.appendChild(leftD)
          wrapper.appendChild(rightD)
          const collisionContainer = document.getElementById('colision-container')
          collisionContainer.appendChild(wrapper)
        }
      </script>
    </div>

    <div id="colision" style="display: none">
      <div id="colision-container" class="container">
        <div class = "title">
          <h1>Wykresy ostatniej kolizji</h1>
        </div>
        <label>Ile ostatnich kolizji chcesz zobaczyć?:</label>
            <input class="w3-input" id="collision_count" type="text" data-mask="000" onchange="updateCollisionsDate()">
        <select id="past_collisions" class="w3-select" name="option" onchange="requestCollisionByDate()" onclick="updateCollisionsDate()">
            <option value="" disabled selected>Wybierz datę kolizji</option>
        </select>
        <div class="wrap">
          <div class="left" style="position: relative">
            <canvas id="frontChartC"  height="200"></canvas>
          </div>
          <div class="right" style="position: relative">
            <canvas id="backChartC" height="200"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div id="info" style="display: none">
    </div>

    <div id="timeout" class="w3-modal">
    <div class="w3-modal-content">
      <div class="w3-container w3-padding-16">
        <span id="timeout_close" onclick="ResetTimeOutTimer()" class="w3-button w3-display-topright">&times;</span>
        <p>Za chwilę nastąpi automatyczne wylogowanie. Jeśli chcesz pozostać na stronie kliknij przycisk</p>
        <button id="stay" onclick="ResetTimeOutTimer()" class="w3-center w3-button w3-purple w3-round-xlarge" name="button">Zostań</button>
      </div>
    </div>
  </div>


</header>
</div>
</div>
<footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-opacity w3-xlarge" style="margin-top:128px">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <img src="images/agh.png" class="fa w3-hover-opacity w3-grayscale-max">
    <i class="fa fa-twitter w3-hover-opacity"></i>
</footer>

<script>

window.onbeforeunload = function(){
    window.location.href="/logout";
}

var ctxC = document.getElementById('frontChartC').getContext('2d');
var ctx1C = document.getElementById('backChartC').getContext('2d');
var frontChartC = new Chart(ctxC, {});
var backChartC = new Chart(ctxC, {});
function drawChart(){
  frontChartC.destroy();
  backChartC.destroy();
  time1C = {
        labels: labels1C,
        datasets: [
          {
            label: "Przód",
            fill: true,
            borderColor: 'blue',
            data: frontC,
          }]
    };
    time2C = {
          labels: labels2C,
          datasets: [
              {
              label: "Tył",
              fill: true,
              borderColor: 'red',
              data: backC,
          }]
      };

    Chart.defaults.global.defaultFontFamily = "monospace";
    ctxC = document.getElementById('frontChartC').getContext('2d');
    frontChartC = new Chart(ctxC, {
      type: 'line',
      data: time1C,
      options: {
      legend: {
        display: true
      },
      scales: {
        xAxes: [
          {
          scaleLabel: {
              display: true,
              labelString: 'Data [DD.MM.YYYYT HH:MM:SS]'
            },
          ticks: {
                autoSkip: false,
                maxRotation: 90,
                minRotation: 90
            }
          }
        ],
        yAxes: [{
        scaleLabel: {
            display: true,
            labelString: 'Odległość od przeszkody [cm]'
          },
            ticks: {
                beginAtZero: true
            }
        }]
      }
    }

    });
    ctx1C = document.getElementById('backChartC').getContext('2d');
    backChartC = new Chart(ctx1C, {
      type: 'line',
      data: time2C,
      options: {
      legend: {
        display: true
      },
      scales: {
        xAxes: [
          {
          scaleLabel: {
              display: true,
              labelString: 'Data [DD.MM.YYYYT HH:MM:SS]'
            },
          ticks: {
                autoSkip: false,
                maxRotation: 90,
                minRotation: 90
            }
          }
        ],
        yAxes: [{
        scaleLabel: {
            display: true,
            labelString: 'Odległość od przeszkody [cm]'
          },
            ticks: {
                beginAtZero: true
            }
        }]
      }
    }
    });
    frontChartC.update();
    backChartC.update();
    frontC = [];
    backC = [];
    labels1C = [];
    labels2C = [];
}

function getCookie(name) {
  var value = "; " + document.cookie;
  var parts = value.split("; " + name + "=");
  if (parts.length == 2) return parts.pop().split(";").shift();
}

var token = getCookie('session');

var timeoutWarning = 600000; //10 minutes to display warning
var timeoutNow = 60000; // Warning has been shown, give the user 1 minute to interact

var warningTimer;
var timeoutTimer;

function LogoutTimeout() {
    warningTimer = setTimeout("IdleWarning()", timeoutWarning);
}

function UpdateTimer() {
    if($("#timeout").css('display') == "none"){
        clearTimeout(warningTimer);
        LogoutTimeout();
    }
}

function setupTimers () {
    document.addEventListener("mousemove", UpdateTimer, false);
    document.addEventListener("mousedown", UpdateTimer, false);
    document.addEventListener("keypress", UpdateTimer, false);
    document.addEventListener("touchmove", UpdateTimer, false);
    document.addEventListener("onscroll", UpdateTimer, false);
    LogoutTimeout();
}

function ResetTimeOutTimer() {
    clearTimeout(timeoutTimer);
    LogoutTimeout();
    document.getElementById('timeout').style.display='none';
}

function IdleWarning() {
    clearTimeout(warningTimer);
    document.getElementById('timeout').style.display='block';
    timeoutTimer = setTimeout("IdleTimeout()", timeoutNow);
}

function IdleTimeout() {
    window.location = "/logout";
}

var socket = io.connect('{{socketProtocol}}://{{socketAddress}}:{{socketPort}}/{{socketName}}', {secure: true, rejectUnauthorized : false});
socket.on('connect', function() {
    socket.emit('my event', {data: 'I\'m connected!'});
});

socket.on('Update distance front', function(distance) {
    $("#distance-front").html(distance+" [cm]");
    time = new Date().toLocaleString();
    distance = distance;
    addDataFrontSocket(time, distance);
    if($("#mode").prop('checked'))
        setBar(distance);
});

socket.on('Update distance back', function(distance) {
    $("#distance-back").html(distance+" [cm]");
    time = new Date().toLocaleString();
    distance = distance;
    addDataBackSocket(time, distance);
    if(!$("#mode").prop('checked'))
        setBar(distance);
});


socket.on('Update velocity', function(velocity) {
    $("#velocity").html(velocity+" [m/s&sup2]");
});

socket.on('Update mode', function(mode) {
    if(mode == 1)
        $("#mode").prop('checked', true);
    else if(mode == 0)
        $("#mode").prop('checked', false);
});


socket.on('Update colision', function(value) {
    if(value == 1){
        $("#distance-back, #distance-front").html('<div class="sign"><span class="fast-flicker">K</span>oli<span class="flicker">z</span>ja</div><div style="padding-bottom: 22px"></div>');
        updateCollisionsDate();
    }
});

$("#velocity").html(Math.round(Math.random()*100)+" [m/s&sup2]");
$("#distance-front").html(Math.round(Math.random()*100)+" [cm]");
$("#distance-back").html(Math.round(Math.random()*100)+" [cm]");

function updateCollisionsDate(){
    let count = $("#collision_count").val();
    if(count == "")
        count = "10";
    $.ajax({
        type: "GET",
        url: "/api/v1.0/colision?length="+count,
        dataType: 'json',
        beforeSend: function (xhr) {
            xhr.setRequestHeader ("Authorization", "Basic " + btoa(token+ ":" + 0));
        },
        success: function (data){
            $("option:not(:first-child)").remove();
            $("option:first-child").prop('selected','true');
            data.forEach(function (value){
               $("#past_collisions").append(new Option(new Date(value.time).toLocaleString(), value.time));  //add option to select,set dd.mm.yyyy, hh:mm:ss as displayed text
           });
        }
    });

}

function requestCollisionByDate(){
    let collision_date = new Date($("#past_collisions").val()).getTime();   //get selected option value and convert to timestamp
    $.ajax({
        type: "GET",
        url: "/api/v1.0/colision/"+collision_date,
        dataType: 'json',
        beforeSend: function (xhr) {
            xhr.setRequestHeader ("Authorization", "Basic " + btoa(token+ ":" + 0));
        },
        success: function (data){
          var i;
          var dataTimeF;
          var dataTimePrevF;
          var dataTimeB;
          var dataTimePrevB;
          var dataInt;
          var x;
          x = collision_date;
          x = new Date(collision_date);
          x = x.toISOString();
          x = x.substring(0,19)
          // console.log("data czas:" +x)
          for (i = 1; i < data.length; i++) {
            dataInt = Date.parse(data[i].time)
            // console.log("DataInt:      " + dataInt.toString())
            // console.log("CollisionData: " + collision_date.toString())
            dataInt = dataInt.toString()
            collision_date = collision_date.toString()
            dataInt = dataInt.substring(0,11);
            collision_date = collision_date.substring(0,11);
            // console.log("DataInt10: " + dataInt)
            // console.log("CollisionData10: " + collision_date)
            // if (data[i].type === 'front' && dataInt == collision_date){
            //   dataTimeF = data[i].time.substring(0,19)
            //   frontC.unshift(data[i].value)
            //   labels1C.unshift("K: " +dataTimeF)
            // }
            // if (data[i].type === 'back' && dataInt == collision_date){
            //   dataTimeB = data[i].time.substring(0,19)
            //   backC.unshift(data[i].value)
            //   labels2C.unshift("K: " +dataTimeB)
            // }
            if (data[i-1].type === 'front'){
              dataTimePrevF = data[i-1].time.substring(0,19)
            }
            if (data[i-1].type === 'back'){
              dataTimePrevB = data[i-1].time.substring(0,19)
            }
            if (data[i].type === 'front') {
              dataTimeF = data[i].time.substring(0,19)
              if (dataTimeF !== dataTimePrevF){
                frontC.unshift(data[i].value)
                labels1C.unshift("   " +dataTimeF)
                if (x == dataTimeF){
                  labels1C.splice(0, 1)
                  labels1C.unshift("K: " +dataTimeF)
                }
              }
            }
            else if (data[i].type === 'back') {
              dataTimeB = data[i].time.substring(0,19)
              if (dataTimeB !== dataTimePrevB){
                backC.unshift(data[i].value)
                labels2C.unshift("   " +dataTimeB)
                if (x == dataTimeB){
                  labels2C.splice(0, 1)
                  labels2C.unshift("K: " +dataTimeB)
                }
              }
            }
            }

            drawChart();

          }
      });


}

function randomizeData() {
  let newfront = front.map(x => Math.floor(Math.random() * 50));
  let newback = back.map(x => Math.floor(Math.random() * 40));
  time1.datasets[0].data = newfront
  time2.datasets[0].data = newback
  frontChart.update();
  backChart.update();
  console.log(newfront);
};

function addDataFront() {
    var z = Math.floor(Math.random() * 50)
    if(typeof z == 'number') {
      front.push(z);
      labels1.push(new Date().toLocaleString())
      time1.datasets[0].data = front
      if (labels1.length > 40) {
        labels1.shift();
        front.shift();
      }
      frontChart.update();
    }
    else{
      console.log("Zły format danych")
    }
}

function addDataBack() {
    var v = Math.floor(Math.random() * 40)
    if(typeof v == 'number') {
      back.push(v);
      labels2.push(new Date().toLocaleString())
      time2.datasets[0].data = back
      if (labels2.length > 40) {
        labels2.shift();
        back.shift();
      }
      backChart.update();
    }
    else{
      console.log("Zły format danych")
    }
}

function addDataFrontSocket(time, distance) {
    if(typeof distance == 'number') {
      front.push(distance);
      labels1.push(time)
      time1.datasets[0].data = front
      if (labels1.length > 40) {
        labels1.shift();
        front.shift();
      }
      frontChart.update();
    }
    else{
      console.log("Zły format danych")
    }
}

function addDataBackSocket(time, distance) {
    if(typeof distance == 'number') {
      back.push(distance);
      labels2.push(time)
      time2.datasets[0].data = back
      if (labels2.length > 40) {
        labels2.shift();
        back.shift();
      }
      backChart.update();
    }
    else{
      console.log("Zły format danych")
    }
}

function colisionEvent(){
  generateChart(labels1, front, labels2, back)
}

function setBar(destination) {
    var maxDistance = 350; //max distance of our sensor, in cm
    //destination = destination*100 //[m] to [cm]
    if(destination>=maxDistance)
        destination = maxDistance;
    else if(destination < 9)
        destination = 9;
    destination = Math.round((1-destination/maxDistance)*100);
    var elem = document.getElementById("myBar");
    //var width = elem.getBoundingClientRect().width;
    var bar = $("#myBar");
    var width = Math.round(bar.width()/ $("#myBar").parent().width() * 100);
    if(width > 100)
        width = 100
    bar.width(destination+"%");
    /*var id = setInterval(frame, 5);
    function frame() {
        if (Math.round(width) == Math.round(destination)) {
            clearInterval(id);
        } else if(width < destination){
            width++;
        } else {
            width--;
        }
        bar.width(width+"%")
      }*/
}

function w3_open() {
    document.getElementById("mySidebar").style.width = "100%";
    document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
}

function data(){
    w3_close();
    $("#data").show()
    $("#plot").hide();
    $("#colision").hide();
    $("#info").hide();
}

function plot(){
    w3_close();
    $("#data").hide()
    $("#plot").show();
    $("#colision").hide();
    $("#info").hide();
}

function colision(){
    w3_close();
    $("#data").hide()
    $("#plot").hide();
    updateCollisionsDate();
    drawChart();
    $("#collision_count").mask("999");
    $("#colision").show();
    $("#info").hide();
}



</script>

</body>
</html>
